<div class="card" *ngIf="eleves"> <!-- Affiche la carte seulement si l'objet eleves est défini -->
    <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
      <img [src]="eleves.sexe ? 'assets/female-icon.jpg' : 'assets/male-icon.jpg'" class="img-fluid"/> <!-- Image de l'élève -->
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);" ></div> <!-- Masque cliquable pour sélectionner l'élève -->
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ eleves.nom }} {{ eleves.prenom }} </h5> <!-- Nom et prénom de l'élève avec une icône cliquable pour sélectionner -->
      <p class="card-text">{{ eleves.age }} ans</p> <!-- Âge de l'élève -->
    </div>
</div>